// ========================
/******** CARRITO ********/
// ========================
.carrito-productos{
            min-height: 500px;
            width: 100%;
            

            .tabla-detalle{


                          th {
                                    color: #fff;
                                    text-align: center;
                                    font-family: 'BrooklynSamuelsFive-Bold';
                                    font-size: 12px;
                          }

                          thead {
                                        background-color: rgba(84,91,80,.54); 
                                        -webkit-background-color: rgba(84,91,80,.54); 
                                        -moz-background-color: rgba(84,91,80,.54); 
                                        -ms-background-color: rgba(84,91,80,.54); 
                                        -o-background-color: rgba(84,91,80,.54);     
                                

                                        th {
                                                height: 65px;  
                                      }

                        }

                        tbody{
                                       background-color: rgba(53,89,68,.45); 
                                        -webkit-background-color: rgba(53,89,68,.45); 
                                        -moz-background-color: rgba(53,89,68,.45); 
                                        -ms-background-color: rgba(53,89,68,.45); 
                                        -o-background-color: rgba(53,89,68,.45);    
                        }
                        
                        .fecha{

                                    td{
                                                background-color: #666;
                                    }
                        }

                         td {
                                     color: #fff;
                                     text-align: center;
                                     font-family: 'Brandon_reg';
                                     height: 60px;

                                      .producto{
                                                    width: 50px;
                                                    height: 50px;
                                                    float: left;
                                                    position: relative;
                                                    top: 50%;
                                                    transform: translateY(-50%);
                                                    margin-left: 20px;
                                                    box-sizing: border-box;
                                                    background-color: #fff;
                                                    border-radius: 100%;
                                                    -moz-border-radius: 100%;
                                                    -webkit-border-radius: 100%;
                                                    -ms-border-radius: 100%;
                                                    -o-border-radius: 100%;
                                                    overflow: hidden;
                                                    margin-top: 5px;
                                                    top: 23px;

                                                    img{
                                                                width: 80%;
                                                                margin: 0 10%;
                                                    }
                                        }

                                        .cerrar{
                                                position: relative;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                padding-left: 3px;
                                        }

                                       .text {
                                                position: relative;
                                                top: 50%;
                                                transform: translateY(-50%);
                                        }
   
    
                        }

                        .item {
                                    border-bottom: 1px solid rgba(255,255,255,.3);
                                    -webkit-border-bottom: 1px solid rgba(255,255,255,.3);
                                     -moz-border-bottom: 1px solid rgba(255,255,255,.3);
                                    -ms-border-bottom: 1px solid rgba(255,255,255,.3);
                                    -o-border-bottom: 1px solid rgba(255,255,255,.3);
                        }
            }

            .total{
                          

                        .block-num{
                                        padding: 10px;
                                        padding: 10px;
                                        display: table;
                                        height: 100%;
                                        width: 80%;
                                        margin: 0 10%;
                                        vertical-align: middle;
                                        background-color: rgba(255,255,255,.1); 
                                        -webkit-background-color: rgba(255,255,255,.1); 
                                         -moz-background-color: rgba(255,255,255,.1); 
                                        -ms-background-color: rgba(255,255,255,.1); 
                                        -o-background-color: rgba(255,255,255,.1); 
                                        position: relative;
                                       min-width: 100px;
                                       
                                       .num{
                                                    width: 100%;
                                                    font-family: 'BrooklynSamuelsFive-Bold';
                                                    font-size: 29px; 
                                                    padding: 10px;
                                                    text-align: center;
                                                    color: #fff;
                                                    position: absolute;
                                                     top: 50%;
                                                    transform: translateY(-50%);
                                        }
                        }
            }

}



// ==========================================================================
/* RESPONSIVE  */
// ==========================================================================

/*mobile--------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width : 767px){

}


/*tablet----------------------------------------*/
@media screen and (min-width: 768px) and (max-width : 1280px){
  
}

/**  TABLETS LANDSCAPE **/
@media screen and (min-width: 771px) and (max-width : 980px){

}

/*notbook------------------------------------*/
@media screen and (min-width: 1280px) and (max-width : 1800px){
	
}

/*desktop------------------------------*/
@media screen and (min-width: 1801px) and (max-width : 2200px){

}

/*desktop large-----------------------------------------------*/
@media screen and (min-width: 2220px) and (max-width : 4000px){

}
